.create-button {
    position: fixed;
    bottom: 50px;
    right: 70px;
    background-color: lightcoral;
    color: white;
    font-size: 60px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 4px 4px 4px rgb(150, 150, 150);
  }
  .create-button:hover {
    background-color: gray;
  }